@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div class="row"
         style="background-image: url('../wefeedsa.png'); height: 200px; background-size: 100% 100%;"></div>

    <div class="p-3">
        <p>weFEEDSA is the magical result where like minded people come together to save humanity.<p/>
        <h3>The journey begins:</h3>
        <p>
            Our journey began during a dark time in history, the 2020 Covid lockdown. Volunteers, men, women and children disturbed by ths plight of the homeless durinf lockdown came together to feed those in need.
            At the peek of support, we provided 12 000 daily meals, 7 days a week across 12 sites in KZN.
        </p>

        <h3>How they grow:</h3>
        <p>
            From there weFEEDsa has grown and evolved. We still continue to feed by supporting 7 soup kitchens and providing hampers to families in need as feeding is a basic human need but we also have evolved
            to improve sustainability by implementing 34 boreholes and vegetable gardens. After the KZN floods in April 2022 we repaired 10 schools, 50 homes and established 30 boreholes with potable water to address the water crisis.
        </p>

        <h3>Education the key to change:</h3>
        <p>
            We believe that education is the key to empowering society and as a result we provide bursaries and training programs to those who wish to be uplifted. We work closely with a Seta accredited training academy to provide not just upskilling but certification and work experience which directly addresses the high unemployment which exists in our country.
        </p>
        
        <h3>How they work</h3>
        <p>
            Our methodology is collaboration. There is so much to do that we need to work together to make the shift happen. We work with about 100 NGOs, community-based organisations and companies. The key to change is to involve not only individuals but businesses who drive the engine of the country and organizations so that we can effect change quickly and effectively.
            As Mahatma Gandhi said, we need to be the change we wish to see and that's what we at weFEEDsa try to do. To provide hope that things can be improved, that as humanity we can and will be the change we wish to see in the world. Do Good, Feel Good. Get Good.
        </p>
    </div>
</main>