
@{
    ViewBag.Title = "Index";
    var user = (JobConnector.Models.User) Session["user"];
}

<div class="container">
    <div class="col-lg-8 col-md-10 col-sm-10">

        <h1>Welcome <span class="text-primary text-uppercase">@user.Name</span></h1>
        <h2></h2>
        <h3>Your dashboard for managing job posting and applications</h3>

        <p class="mt-2 mb-3">
            Effortlessly post new job openings to attract candidates. On the upload a job page,
            you can provide job descriptions,list required qualifications and specify job location.
            Manage and update your job listings to keep them current and relevant,
            ensuring you reach the best candidates for your roles.
        </p>

        <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-primary col-lg-2 col-md-3 col-sm-4">Upload Job</button>
        </div>

        <p>We offer tailored CVs to meet your hiring needs:</p>
        <ul class="my-2">
            <li>- Up to 5 CVs for R50</li>
            <li>- Up to 10 CVs for R100</li>
            <li>- Additional CVs available at R20 each</li>
        </ul>
        
        <p class="my-2">
            To proceed, please ensure payment is completed. CV's will be sent to the email address
            provided during you registration upon confirmation of payment.
        </p>

        <p>We appreciate your cooperation</p>

        <div class="d-flex align-items-center justify-content-around my-3">
            <button class="btn btn-primary col-lg-2 col-md-3 col-sm-4" id="10cv">Buy 10 Cvs</button>
            <button class="btn btn-primary col-lg-2 col-md-3 col-sm-4" id="5cv">Buy 5 Cvs</button>
        </div>
    </div>

    <script>
        onload = () => {
            const btn1 = document.getElementById("5cv");
            const btn2 = document.getElementById("10cv");
            let email = document.getElementById("user_email")?.innerHTML;

            btn1.addEventListener("click", e => {
                e.preventDefault();
                const url = "https://buy.stripe.com/test_fZe29i5Xz1rU8ow9AA";
                localStorage.setItem("email", email);
                window.open(url, "_blank");
            })

            btn2.addEventListener("click", e => {
                e.preventDefault();
                const url = "https://buy.stripe.com/test_8wM8xGclX9YqgV2cMN";
                localStorage.setItem("email", email);
                window.open(url, "_blank");
            })
        }
    </script>
</div>



